// Variables
$font: 'Roboto', sans-serif;
$colorBlue: #3BAFCE;

html, body{
	height: 100%;
	font-family: $font;
	font-size: 16px;
	font-weight: 400;
}

h1, h2,h3,h4,h5,h6,p,ul{
	padding:0;
	margin:0;
	font-family: $font;
	font-weight: 400;
}
a:link, a:visited{
	text-decoration: none;
}
a:hover{text-decoration: underline;}

// Header
.header{
	background: $colorBlue;
	padding: 50px 0 100px 0;
	color:#fff;

	i {
		font-size: 50px;
	}

	h1 {
    	margin: 30px 0 15px 0;
		font-size: 50px;
		font-weight: 700;
	}
	h4{
		color:#d5f3ff;
		font-size: 20px;
	}
}

// Send mail form
.main {
	padding-bottom:100px;
	background:#f2f2f2;
	.send-email-form{
		margin: 40px 0 60px 0;
		background: #eff7fc;
		border:1px solid #cce6f6;
		padding:15px 20px;
		border-radius: 5px;

		input {
			height: 50px;
			font-size: 18px;
		}
		.btn{
			padding: 11px 12px;
			font-size: 18px;
		}
	}

	h2.title-main{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.intro{
		margin-bottom: 40px;
		p{
			font-size: 1.25rem;
		    color: #737C81;
		    line-height: 1.35;
		    margin: 0;
		}

		.right{
			a{
			    text-transform: uppercase;
			    font-size: .875rem;
			    color: #a1abb3;
			    font-weight: 300;
			    display: block;
			    margin-bottom: .625rem;

			    span{
			    	display: block;
			    	font-size: 14px;
			    	text-transform: initial;
			    	color:#337ab7;
			    }
			}
		}
	}

	.form-area{
		.panel, .panel-heading{
			border:none;
			background:#fff;
		}
		.input{
			background:#FBFCFE;
			padding:20px 50px;
			border-radius: 10px 0 0 10px;

			.heading{
				margin-bottom:30px;
				font-weight: 300;
				h1{
					font-weight: 300;
					margin-bottom: 15px;
				}
			}
			.m-body{
				label{
					margin-bottom:5px;
					font-weight: 500;
				}
				input{
					font-size: 20px;
					height: 40px;
					font-weight: 500;
					border:none;
					/* border-left:2px solid #ccc; */
					box-shadow:none;
					border-radius:0;

					&:focus{
						border:none;
						box-shadow:none;
					}
				}

				.form-group{
					margin: 25px 0;
				}

				.input-group-btn{
					.btn-primary{
						background:#5A6978;
						border:none;
						padding:8px 25px;
						font-size: 17px;
					}
				}
			}

			.btn-cal{
				margin-top: 30px;
				.btn{
					font-size: 18px;
    				padding: 10px 30px;
    				background:#9576EB;
    				border:none;
				}
			}
	
		}
		
		.output {
			background:#fff;
			border-radius:0 10px 10px 0;
			padding:20px 50px;

			.heading{
				margin-bottom: 15px;
				color: #9879ED;
				font-size: 30px;
				span{
					color: #333;
				}
			}

			.m-body{
				.results{
					margin-bottom:10px;
					i{
						color: #9879ED;
					    border-radius: 50%;
					    padding: 5px 8px;
					    font-size: 14px;
					    margin-right: 20px;
					    border: 1px solid #9879ED;
					    vertical-align: middle;
					    background: #f2f2f2;
					}

					font-size: 26px;
					font-weight: 300;
					color: #5a5a5a;

					input{
						border:none;
						box-shadow:none;
						font-size: 26px;
						font-weight: 300;
						color: #5a5a5a;
						height: auto;
						padding:0;						
					}

					label{
						font-weight: 500;
						font-size: 16px;
						margin-left: 50px;
					}
				}
			}

			.last-time {
				margin-bottom:30px;
			}
			.alert-success{
				background:#FFF6BA;
				color:#333;
				font-weight: 500;
			}	
		}
		
	}
}

// Footer
footer{
	background:#2d3236;
	padding: 50px 0;

	ul{
		li{
			a{
				color: #8598a7;
				font-weight: 300;
				&:hover{
					text-decoration: none;
					color:#fff;
				}
			}
		}
	}
}